@model Rento.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Index";
}




<p class=" text-center" style="font-size:1.5rem;font-weight:700"> Welcome Back <span class="text-danger">@User.Identity.Name</span> Admin</p>

